{% extends 'base.html' %}


{% block content %}
    This is the home or index page.


    
    {% if user.is_authenticated and user.is_student %}
        <a href="{% url 'student_profile' %}">View Profile</a>
    {% elif user.is_authenticated and user.is_teacher  %}
        <a href="{% url 'teacher_profile' %}">View Profile</a>      
    {% else %}
        <a href="{% url 'student_sign_up' %}">Sign Up as a Student.</a> <br>
        <a href="{% url 'teacher_sign_up' %}">Sign Up as a Teacher.</a> <br>

        <a href="{% url 'login' %}">Sign In</a>
    {% endif %}
{% endblock content %}
